%table.category
  %tr
    %td
      %a{:name => "top", :href => "#ruby"} Ruby
    %td
      %a{:href => "#c++"} C++
    %td
      %a{:href => "#c#"} C#
    %td
      %a{:href => "#java"} Java


:markdown

  # JOYBLIND

  JOYBLIND is a website that I started in 2009. It was in my first year of my first semester at Carleton. I got bored during the last couple of weeks and during exams so I thought I'd look into making a gaming blog so I could share my obsession with the rest of the world.

  I soon talked my friend into writing with me and we wrote into the oblivion. And then, only after two months after JOYBLIND was created we had been accepted as press/media to attend E3. We flew down to LA and reported our hearts out.

  Currently I'm taking JOYBLIND to the next level by remaking it using Ruby on Rails.

.link
  %a{:href => "http://joyblind.com"} JOYBLIND


= category "ruby"

:markdown

  ## MDNotes
  
  **MDNotes** is a Ruby gem I created to help me take notes using markdown. It creates a directory structure in the current path. After some markdown files have been created, they can be "compiled" to *html* and published to *pdf*.
.link
  %a{:href => "https://bitbucket.org/ugorelik/mdnotes"} MDNotes
%hr

:markdown
  ## urigorelik.info
  This website uses **sinatra** and **heroku** for deployment. The markdown language used is **haml** with **markdown** for content.
.link
  %a{:href => "https://bitbucket.org/ugorelik/resume"} urigorelik.info source
%hr
  
:markdown
  ## Euler Project
  I have also completed the first 25 Euler Problem's using Ruby. Sadly I lost most of it, you're just going to have to take my word for it.

%hr
  
:markdown
  ## Scripts
  ### Misc. Scripts
  Here are some miscellaneous scripts that I have developed as one timer's or just examples of concepts that interest me. `password.rb` simply checks a password is only different by one character. `SoftwareDownloader.rb` performs a google "*I'm Feeling Lucky*" search on a list of given items and adds the term 'download' to the query. This results in a browser opening several download pages. `true_random.rb` uses [Random.org](http://random.org) to pull random numbers.
  
  I do not own `unary.rb` it is just there for reference.
  ### JOYBLIND Scripts
  This is a simple suite that I use to speed up certain tasks for posting content on JOYBLIND. It formats time, grabs sizes of files in bytes, creates a list of tags, pulls files from the server, formats links and more!

.link
  %a{:href => "https://bitbucket.org/ugorelik/useful-scripts/"} Misc. Scripts
.link
  %a{:href => "https://bitbucket.org/ugorelik/joyblind-scripts/"} JOYBLIND Scripts
  

  
= category "c++"

:markdown
  ## The Blob aka Dr. Rhodes
  The Blob was my 2010 group game development project. It was written from the ground up using C++ and DirectX.

= image("This is a screen shot of the blob game.", "blob.jpg", 100)

.link
  %a{:href => "/files/Blob.zip"} Play it!
.link
  %a{:href => "https://bitbucket.org/ugorelik/the-blob/src/f8b610b093e7/src"} Source
%hr

:markdown
  ## C++ Linux Battle Ship Implementation
  This was a little BattleShip implementation which outputted to the terminal. It used raw sockets to enable multiplayer games. I did an "extended" version which added the feature to have multiple spectators watching a one versus one game.

.link
  %a{:href => "https://bitbucket.org/ugorelik/2404-mega-project/src/3ce747c9486a/src"} Source



= category "c#"

:markdown
  ## Great Canadian Appathon 1
  The GCA is a **48-hour** game development competition. I made a very avante-garde game, with hidden and subtle pretexts about a triangle battling through the oppressive red squares. The game had a tutorial, particle effects, custom gestures, combos and sound effects. This was my first time developing for Windows Phone 7, I had not looked into the framework before the competition.

.link
  %a{:href => "https://bitbucket.org/ugorelik/gca-1/src/00afb42bd13a/Scroller"} Source
%hr
  
:markdown
  ## Great Canadian Appathon 2
  For GCA 2 I decided to learn and use Unity. The game was the only 3D game at the Carleton"hub". The premise of game was a soccer ball navigating to the end of the level. The player would begin in what looked like a 2D level, but upon learning the controls the player would discover that the level is actually in three dimensions but only had access to two at one time. If the player would swipe left or right across the screen the camera would rotate 45 degrees about the x-axis, spin 90 degrees on z and then back 45 to change "dimensions".

%img{ :src => "/images/gca-2.png", :alt => "gca 2" }

%p 

.link
  %a{:href => "https://bitbucket.org/ugorelik/gca-2/src/ef8161876383/soccer/Assets"} Source
.link
  %a{:href => "https://bitbucket.org/ugorelik/gca-2/src/ef8161876383/MultiD%20Soccer.apk"} Download and Play the APK


= category "java"

:markdown
  ## Stores
  Stores is a solo project that I started recently. It's another Java based implementation, this time featuring an updater, saving and loading and throttling! What I mean by throttling is that it's focused to be a pacing game. Your first time playing will probably last about a minute or two but the idea is that, hopefully, you'll come back! 

.link
  %a{:href => "#"} Source (Coming soon)
.link
  %a{:href => "#{tumblr_url}"} The Blog
%hr

:markdown
  ## Data Structures


  Abstract Data Types and Algorithms, or "Data Structures", was one of my favourite courses. It was lead by a great professor at Carleton, [Pat Morin](href="http://cg.scs.carleton.ca/~morin/") and I really learned a lot.
  

.link
  %a(href="/files/ugorelik_data-struct.zip") My Work
%hr

:markdown
  ## JOYBLIND Poster
 
  The JOYBLIND Poster is a tool for JOYBLIND.com that facilitates the posting and creation of new content. It hides the somewhat complicated process of creating all of the appropriate HTML pages to a novice user and allows anyone with basic computer skills to easily create new content. The program actually consists of two parts, a launcher and the client. The launcher adds a self-updating feature by checking for an update. If an update is found it then proceeds to download the latest version from a directory or if the current cersion is up to date it simply launches the available client. Some key processes include:
  

  * Pulls live content from the server
  * Creates and updates proper XML files
  * Formats posts/articles to required specifications
  * Self-updating.

= image 'JOYBLIND Poster', 'poster-1.png', 100


:markdown
  ----
  ## Project Ditch (Working Title)
  Project Ditch is a Java text-based game. Kind of a throw back to retro gaming.

  It features a parsing engine that allows for natural (like regular human speech) text to be entered and parsed correctly.

  Future plans include porting the game to mobile platforms such as iOS, Android and Blackberry



.link
  %a{:href => "http://#{tumblr_url}"} The Blog


:markdown
  -----

  ## Asteroids

  This Asteroids clone was my final assignment for my second java course, "Design and Implementation of Computer Applications."

%img(src="/images/asteroids.png" alt="Asteroids JApplet")
