
:markdown

  # JOYBLIND

  JOYBLIND is a website that I started in 2009. It was in my first year of my first semester at Carleton. I got bored during the last couple of weeks and during exams so I thought I'd look into making a gaming blog so I could share my obsession with the rest of the world.

  I soon talked my friend into writing with me and we wrote into the oblivion. And then, only after two months after JOYBLIND was created we had been accepted as press/media to attend E3. We flew down to LA and reported our hearts out.

  Currently I'm taking JOYBLIND to the next level by remaking it using Ruby on Rails.
= link("JOYBLIND", "joyblind.com")
= link("JOYBLIND on Rails", "joyblind.heroku.com")




:markdown
  -----

  # Stores
  Stores is a solo project that I started recently. It's another Java based implementation, this time featuring an updater, saving and loading and throttling! What I mean by throttling is that it's focused to be a pacing game. Your first time playing will probably last about a minute or two but the idea is that, hopefully, you'll come back! 


= link("Source (Coming soon)", "#")

= link("The Blog", tumblr_url)


:markdown
  -----

  # Project Ditch (Working Title)
  Project Ditch is a Java text-based game. Kind of a throw back to retro gaming.

  It features a parsing engine that allows for natural (like regular human speech) text to be entered and parsed correctly.

  Future plans include porting the game to mobile platforms such as iOS, Android and Blackberry

= link("Source (Coming soon)", "#")

= link("The Blog", tumblr_url)




:markdown
  -----

  # The Blob aka Dr. Rhodes
  The Blob was my 2010 group game development project. It was written from the ground up using C++ and DirectX.

  Currently we're working on tweaking the game to make it more playable and enjoyable.

= image("This is a screen shot of the blob game.", "blob.jpg", 100)

.link
  %a{:href => "/files/Blob.zip"} Play it!
.link
  %a{:href => "/files/Blob Source.zip"} Source
  


:markdown
  -----

  # Java
  ## Data Structures


  Abstract Data Types and Algorithms, or "Data Structures", was one of my favourite courses. It was lead by a great professor at Carleton, [Pat Morin](href="http://cg.scs.carleton.ca/~morin/") and I really learned a lot.
  

.link
  %a(href="/files/ugorelik_data-struct.zip") My Work


:markdown
  -----

  ## JOYBLIND Poster
 
  The JOYBLIND Poster is a tool for JOYBLIND.com that facilitates the posting and creation of new content. It hides the somewhat complicated process of creating all of the appropriate HTML pages to a novice user and allows anyone with basic computer skills to easily create new content. The program actually consists of two parts, a launcher and the client. The launcher adds a self-updating feature by checking for an update. If an update is found it then proceeds to download the latest version from a directory or if the current cersion is up to date it simply launches the available client. Some key processes include:
  

  * Pulls live content from the server
  * Creates and updates proper XML files
  * Formats posts/articles to required specifications
  * Self-updating.

= image 'JOYBLIND Poster', 'poster-1.png', 100


:markdown
  -----

  ## Asteroids

  This Asteroids clone was my final assignment for my second java course, "Design and Implementation of Computer Applications."

%img(src="/images/asteroids.png" alt="Asteroids JApplet")
