
%h1 Nav Canada
%p At Nav Canada I am responsible for extending and maintaining the Radar Test Suite (RTWS) and other programs. Currently I am working on extending functionality and fixing issues in a program called SPLAT. (Image bellow.)

%p The suite is written in C++.
= image 'SPLAT', 'splat-1.png', 25, 'left'
= image 'SPLAT', 'splat-2.png', 25, 'left'
= image 'SPLAT', 'splat-3.png', 25, 'left'
= image 'SPLAT', 'splat-4.png', 25, 'left'
.clear

%p I have also made a stand alone program that I use to test and debug some of the utilities in the suite.
= image 'SPLAT', 'decoder-1.png', 50


%h1 DragonWave inc.
%p ...


%h1 Java
%h2 Data Structures
%p ...

%h2 JOYBLIND Poster
%p 
  The JOYBLIND Poster is a tool for JOYBLIND.com that facilitates the posting and creation of new content. It hides the somewhat complicated process of creating all of the appropriate HTML pages to a novice user and allows anyone with basic computer skills to easily create new content. The program actually consists of two parts, a launcher and the client. The launcher adds a self-updating feature by checking for an update. If an update is found it then proceeds to download the latest version from a directory or if the current cersion is up to date it simply launches the available client. Some key processes include:
  
%ul
  %li Pulls live content from the server
  %li Creates and updates proper XML files
  %li Formats posts/articles to required specifications
  %li Self-updating.



= image 'JOYBLIND Poster', 'poster-1.png', 100


%h2 Asteroids

== <p style="center" class="frame"><applet code="Asteroids.class" codebase="http://people.scs.carleton.ca/~ugorelik/content/asteroids" width=600 height=380></applet></p>

%h1{:style => "font-size:3.2em"} More Coming Soon