%h1 JOYBLIND

%p JOYBLIND is a website that I started in 2009. It was in my first year of my first semester at Carleton. I got bored during the last couple of weeks and during exams so I thought I'd look into making a gaming blog so I could share my obsession with the rest of the world.

%p I soon talked my friend into writing with me and we wrote into the oblivion. And then, only after two months after JOYBLIND was created we had been accepted as press/media to attend E3. We flew down to LA and reported our hearts out.

%p Currently I'm taking JOYBLIND to the next level by remaking it using Ruby on Rails.
= link("JOYBLIND", "joyblind.com")
= link("JOYBLIND on Rails", "joyblind.heroku.com")

%br/




%h1 Stores
%p Stores is a solo project that I started recently. It's another Java based implementation, this time featuring an updater, saving and loading and throttling! What I mean by throttling is that it's focused to be a pacing game. Your first time playing will probably last about a minute or two but the idea is that, hopefully, you'll come back! 


= link("Source (Coming soon)", "#")

= link("The Blog", "mikeanduri.tumblr.com")

%h1 Project Ditch (Working Title)
%p Project Ditch is a Java text-based game. Kind of like a throw back to retro gaming.

%p It features a parsing engine that allows for natural (like regular human speech) text to be entered and parsed correctly.

%p Future plans include porting the game to mobile platforms such as iOS, Android and Blackberry

= link("Source (Coming soon)", "#")

= link("The Blog", "mikeanduri.tumblr.com")



%br/