


<h1>JOYBLIND</h1>
<p>JOYBLIND is a website that I started in 2009. It was in my first year of my first semester at Carleton. I got bored during the last couple of weeks and during exams so I thought I'd look into making a gaming blog so I could share my obsession with the rest of the world.</p>

<p>I soon talked my friend into writing with me and we wrote into the oblivion. And then, only after two months after JOYBLIND was created we had been accepted as press/media to attend E3. We flew down to LA and reported our hearts out.</p>

<p>Currently I'm taking JOYBLIND to the next level by remaking it using Ruby on Rails.</p>

<%= link("JOYBLIND", "joyblind.com") %>
<%= link("JOYBLIND on Rails", "joyblind.heroku.com") %>
<br />

<h1>The Blob aka Dr. Rhodes</h1>
<p>The Blob was my 2010 group game development project. It was written from the ground up using C++ and DirectX.</p>

<p>Currently we're working on tweaking the game to make it more playable and enjoyable.</p>

<!-- Image -->

<%= link("Play it! (Coming soon)", "#") %>
<%= link("Source (Coming soon)", "#") %>
<br />

<h1>Project Ditch (Working Title)</h1>
<p>Project Ditch is a Java text-based game. Kind of like a throw back to retro gaming.</p>

<p>It features a parsing engine that allows for natural (like regular human speech) text to be entered and parsed correctly.</p>

<p>Future plans include porting the game to mobile platforms such as iOS, Android and Blackberry</p>

<%= link("Source (Coming soon)", "#") %>
<%= link("The Blog", "mikeanduri.tumblr.com") %>
<br />

